* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 3.5em;
}

a {
    text-decoration: none;
}

.app {
    margin-bottom: 5em;
    margin-top: 2em;
    margin-inline: 1em;
}

.color-light-orange {
    background-color: #fff8f1;
}

.color-dark-orange {
    background-color: #e6c9ac;
}

.color-darker-orange {
    background-color:  #bda17b;
}

.color-orange {
    background-color: #f0e0ca;
}

.btn.color-orange:hover {
    background-color: #e6c9ac;
}

.text-orange {
    color: #e6bc78;
}

.text-dark-orange {
    color: #cea563;
}

.text-darker-orange {
    color: #c09a5d;
}
