html {
    font-size: 16px;
}

body {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.color-orange {
    background-color: #f0e0ca;
}

.text-orange {
    color: #e6bc78;
}