* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 3.5em;
}

.color-light-orange {
    background-color: #fff8f1;
}

.color-orange {
    background-color: #f0e0ca;
}

.text-orange {
    color: #e6bc78;
}